*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
h2, h4{
    color: white;
}
h4{
    font-size: 10px;
}
h2{
    font-size: 20px;
}

main{
    height: calc(100vh - 70px);
    background-color: #141922;
}
footer{
    height: 70px;
    background-color: #282828;  
    position: relative;  
}


/* main */
.display-none{
    display: none;
}
.main-container{
    height: 100%;
    width: 100%;  
}
.float{
    float:left;
    height: 100%;
}
.container-sidebar{
    width: 70px;
    background-color: black;
    height: calc(100vh - 70px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.container-spotify-content{
    width: calc(100% - 70px);
    background-color: #141922;
    height: calc(100vh - 70px);
    overflow: auto;
}

/* sidebar css */
.mobile-logo{
    width:38px;
    padding: 10px 0px;
}
a{
    display: inline-block;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.sidebar-center-section{
    flex-grow: 1;
    overflow: auto;
}
.sidebar-center-section h3{
    padding: 10px 0px;
}
.sidebar-center-section li{
    padding: 7px 0px;
}

.sidebar-icon{
    width: 30px;
    vertical-align: middle;
}


.container-playlist{
    height: 100%;
    padding: 20px 0px;
}
.container-playlist i{
    font-size: 40px;
    vertical-align: middle;
}
.container-playlist div{
    
    padding: 10px 0px;
}


.sidebar-lower-section{
    width:100%;
    
}
.sidebar-lower-section li{
    margin: 10px 0px;
    text-align: center;
}
.sidebar-lower-section hr{
    width: 100%;
    color: grey;
}
.account-section h4{
    display: inline-block;
}

.download-icon{
    width: 20px;
}
.account-icon{
    width: 20px;
    background-color: grey;
    border-radius: 50%;
}


/* fine sidebar css */
/*  */
.upgrade-now{
    text-align: right;
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, .2);
}
.upgrade-now a{
    font-size: 10px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    line-height: 10px;
    padding: 10px 30px;  
}
/*  */
/* spotify album section*/
.nav-bar{ 
    background-color:#141922;
}
.nav-bar ul{
    text-align: center;
    list-style-type: none;
    width: 100%;
}
.nav-bar li{
    display: inline-block;
    
}
.nav-bar a{
    text-decoration: none;
    color: #878787;
    font-size: 10px;
    padding: 5px;
}
.main-container-recently-played, 
.main-container-created-for, 
.main-container-popular-artist {
    padding: 10px;
}
.main-container-recently-played h2,
.main-container-created-for h2,
.main-container-popular-artist h2{
    padding: 15px 0px;
}
h4 ~ span{
    font-size: 8px;
}

.container-song{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: flex-start;
}
.container-card-song{
    text-align: center;
    width: calc(100% / 2 - 7px);
}
.disc-cover img{
    width: 100%;

}
.main-container-popular-artist .disc-cover img{
    border-radius: 50%;
}




/* footer */
.footer-container{
    height: 100%;
    display: flex;
}
.footer-left-section{
    display: flex;
    align-items: center;
    width: 25%;  
}
.footer-center-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-right-section{
    display: flex;
    align-items: center;
    width: 25%;  
}

/* footer left section */


.left-section-img-song img{
    width: 100%;
    padding: 3px;
}
.left-section-img-song{
    width: 30%;
}
.left-section-author{
    width: 50%;
    font-size: 10px;
    padding: 0px 8px;
}
.left-section-icons{
    width: 20%;
}

.left-section-icons .far{
    font-size: 12px;
    display: block;
    padding: 2px 0px;
}


/* footer central section */
.center-panel-control{
    width: 100%;
    text-align: center;
}
.center-panel-control span{
    padding: 0px 5px;
}
.fa-play-circle{
    font-size: 22px;
    padding: 0px 5px;
}
.bar span{
    font-size: 12px;
}
.play-bar{
    height: 4px;
    width: 60%;
    border-radius: 2px;
    background-color: grey;
    display: inline-block;
    vertical-align: middle;
}


/* footer right section */
.footer-right-section i{
    font-size: 12px;
    padding: 0px 2px;
}
.footer-right-section > div{
    width: 100%;
    text-align: center;
}
.volume-bar{
    height: 4px;
    width: 40%;
    border-radius: 2px;
    background-color: grey;
    display: inline-block;
    vertical-align: middle;
}

  /*  Florian
   fino 600 mobile
   fino 700 tablet
   fino 1000 desk */


   @media screen and (max-width: 549px){
       .hide-on-mobile{
           display: none;
       }
       .sidebar-lower-section li {
        text-align: center;
        }
    }  
    
    
    @media screen and (min-width: 550px){
        .container-sidebar{
            width: 200px;
            align-items: flex-start;
            padding: 0px 20px;
        }
        .sidebar-lower-section li{
            text-align: left;
        }
        .container-spotify-content{
            width: calc(100% - 200px);
            
        }
        .container-card-song{
            width: calc(100% / 2 - 7px);
        }
        .display-none{
            display: block;
        }
        .mobile-logo{
            display: none;
        }
        .big-logo{
            width: 120px;
            padding: 10px 0px 13px 0px;
        }
        .dowload-icon span, .account-icon span{
            display: inline-block;
        }
}
@media screen and (min-width: 680px){
    .container-sidebar{
        width: 200px;
        align-items: flex-start;
        padding: 0px 20px;
    }
    .container-spotify-content{
        width: calc(100% - 200px);
        
    }
    .container-card-song{
        width: calc(100% / 4 - 7px);
    }
}
@media screen and (min-width: 920px){
    .container-sidebar{
        width: 200px;
        align-items: flex-start;
        padding: 0px 20px;
    }
    .container-spotify-content{
        width: calc(100% - 200px);
        
    }
    .container-card-song{
        width: calc(100% / 6 - 7px);
    }
}
